html,
body {
  height: 100%;
}

:root {
  --light-font-color: whitesmoke;
  font-family: "Lora", serif;
}

h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  color: var(--light-font-color);
}

h2 {
  font-size: clamp(1rem, 1.5vw, 3rem);
  color: var(--light-font-color);
}

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.75fr 8fr 0.75fr;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #2c3639;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  overflow: hidden;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header svg {
  color: #01796f;
  max-height: 100%;
}

aside {
  background-color: #3f4e4f;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside .lists {
  flex-grow: 1;
}

aside .list {
  overflow: hidden;
  height: 2.2em;
  padding: 0.25em;
  border-radius: 0.35em;
  display: flex;
  align-items: center;
  gap: 1em;
}

aside .list:hover {
  background-color: #2c3639;
}

aside .list span {
  color: var(--light-font-color);
}

aside .list svg {
  max-height: 100%;
  color: var(--light-font-color);
}

.add-list {
  display: flex;
  justify-content: center;
}

.add-list button {
  border-radius: 75%;
  height: min(2.25rem, 7.5vw);
  width: min(2.25rem, 7.5vw);
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: var(--light-font-color);
  font-size: min(1.75rem, 5vw);
  cursor: pointer;
  color: var(--light-font-color);
}

section {
  background-color: #dcd7c9;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

footer {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #a27b5c;
  grid-row: 3 / end;
  grid-column: 1 / end;
}
